BasedOnStyle: Google
TypenameMacros:
  - PG_FUNCTION_INFO_V1
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
IncludeBlocks: Regroup
# A few special PostgreSQL include files are in the first group but
# need to be in a specific order to work correctly.
IncludeCategories:
  - Regex: '<postgres.h>'
    Priority: 1
    SortPriority: 1
  - Regex: '<fmgr.h>'
    Priority: 1
    SortPriority: 2
  - Regex: '<(storage|utils|regex|partitioning|foreign|extension|common|libpq|access|lib|catalog|commands|nodes|optimizer|datatype|fe_utils|jit|mb|replication|snowball|tcop|bootstrap|executor|lib|parser|port|postmaster|rewrite|statistics|tsearch)/.*>'
    Priority: 3
    SortPriority: 3
  - Regex: '<(c|funcapi|plpgsql|port|postgres|windowapi|getaddrinfo|miscadmin|pgtime|postgres_ext|getopt_long|pgstat|postgres_fe|rusagestub)\.h>'
    Priority: 3
    SortPriority: 3
  - Regex: '<pg_(config_ext|config_os|config|getopt|config_manual|trace)\.h>'
    Priority: 3
    SortPriority: 3

    # These are assumed to be system include files
  - Regex: '<.*>'
    Priority: 4
    SortPriority: 4

    # These are assumed to be project include files
  - Regex: '".*"'
    Priority: 5
    SortPriority: 5
